.header {
    padding: 10px;
    background-color: #2c2929;
    // text-align: center;
    color: #fff;

    a {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        svg {
            width: 18px;
            margin-right: 5px;
        }
    }
}
